node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.prettierignore
README.md
backend/README.md
frontend/README.md
start.sh
LICENSE
.vscode
Makefile
helm-charts
.env
.editorconfig
.idea
coverage*